@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --tomato-red: #E78383;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  cursor: none;
}


@font-face {
  font-family: "Megapixel-Regular";
  src: url('../../public/fonts/Megapixel-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

/* TODO: */
.mask{
  mask-image: url('../../public/selection.svg');
  mask-repeat: no-repeat;
  mask-size: 40px;
  background: var(--tomato-red);
  position: absolute;
  color: black;
  transform: scale(1.125);
  /* transition: transform 0.25s ease-in-out; */
}

