/* TODO: */
.mask {
  mask-image: url('../../../../public/circle.svg');
  mask-repeat: no-repeat;
  background: var(--flamy-orange);
  position: absolute;
  color: black;
  width: 100%;
  transition: transform 0.25s ease-in-out;
}

