/* TODO: */
.mask {
  mask-image: url('../../../../public/selection.svg');
  mask-repeat: no-repeat;
  mask-size: 40px;
  background: var(--tomato-red);
  position: absolute;
  left: 50%;
  color: black;
  transform: scale(1.125) translate(-50%);
  /* transition: transform 0.25s ease-in-out; */
}

