/* TODO: */
.mask {
  mask-image: url('../../../../public/square.svg');
  mask-repeat: no-repeat;
  position: absolute;
  color:  var(--outer-space);
  background: var(--flamy-orange);
  width: 100%;
  transition: transform 0.25s ease-in-out;
}

